
server:
  port: 8543

spring:
  datasource:
    url: jdbc:mysql://39.96.65.80:3306/twelve?serverTimezone=GMT%2B8
    username: root
    password: a3721221
    driver-class-name: com.mysql.cj.jdbc.Driver
  main:
    allow-bean-definition-overriding: true
  #spring.data.redis.repositories.enabled=false
  devtools:
    restart:
      enabled: true

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    cache-enabled: false
  global-config:
    db-config:
      id-type: auto
      field-strategy: not_empty
      #\u9A7C\u5CF0\u4E0B\u5212\u7EBF\u8F6C\u6362
      column-underline: true
      #\u903B\u8F91\u5220\u9664\u914D\u7F6E
      logic-delete-value: 0
      logic-not-delete-value: 1
      db-type: mysql
    refresh: false
  mapper-locations: classpath:/mapper/*Mapper.xml
  type-aliases-package: com.example.demo.pojo





twelve:

  # \u5BF9\u8C61\u5B58\u50A8\u914D\u7F6E
  storage:
    # \u5F53\u524D\u5DE5\u4F5C\u7684\u5BF9\u8C61\u5B58\u50A8\u6A21\u5F0F\uFF0C\u5206\u522B\u662Flocal\u3001aliyun\u3001tencent\u3001qiniu
    active: local
    # \u672C\u5730\u5BF9\u8C61\u5B58\u50A8\u914D\u7F6E\u4FE1\u606F
    local:
      storagePath: storage
      # \u8FD9\u4E2A\u5730\u65B9\u5E94\u8BE5\u662Fwx\u6A21\u5757\u7684WxStorageController\u7684fetch\u65B9\u6CD5\u5BF9\u5E94\u7684\u5730\u5740
      address: http://localhost:8080/wx/storage/fetch/
    # \u4E03\u725B\u4E91\u5B58\u50A8
    qiniu:
      domain: http://img.twelvecake.top # \u8BBF\u95EE\u57DF\u540D(\u9ED8\u8BA4\u4F7F\u7528\u4E03\u725B\u4E91\u6D4B\u8BD5\u57DF\u540D)
      accessKey: pwNVM4N4jGMjwQ7i6pC-usFIbLRc8P3DztZPxG2E # \u516C\u94A5
      secretKey: 3ZmPeLrno3sdsifOQVVwx8vZhn_ewEWk2GCiLRw9 # \u79C1\u94A5
      bucketName: xiayunshang  #\u5B58\u50A8\u7A7A\u95F4\u540D\u79F0

  # \u5F00\u53D1\u8005\u5E94\u8BE5\u8BBE\u7F6E\u6210\u81EA\u5DF1\u7684wx\u76F8\u5173\u4FE1\u606F
  wx:
    app-id: wxa5b486c6b918ecfb
    app-secret: e04004829d4c383b4db7769d88dfbca1
    mch-id: 111111
    mch-key: xxxxxx
    notify-url: http://www.example.com/wx/order/pay-notify
    # \u5546\u6237\u8BC1\u4E66\u6587\u4EF6\u8DEF\u5F84
    # \u8BF7\u53C2\u8003\u201C\u5546\u6237\u8BC1\u4E66\u201D\u4E00\u8282 https://pay.weixin.qq.com/wiki/doc/api/wxa/wxa_api.php?chapter=4_3
    key-path: xxxxx
  express:
    enable: false
    appId: "XXXXXXXXX"
    appKey: "XXXXXXXXXXXXXXXXXXXXXXXXX"
    vendors:
      - code: "ZTO"
        name: "\u4E2D\u901A\u5FEB\u9012"
      - code: "YTO"
        name: "\u5706\u901A\u901F\u9012"
      - code: "YD"
        name: "\u97F5\u8FBE\u901F\u9012"
      - code: "YZPY"
        name: "\u90AE\u653F\u5FEB\u9012\u5305\u88F9"
      - code: "EMS"
        name: "EMS"
      - code: "DBL"
        name: "\u5FB7\u90A6\u5FEB\u9012"
      - code: "FAST"
        name: "\u5FEB\u6377\u5FEB\u9012"
      - code: "ZJS"
        name: "\u5B85\u6025\u9001"
      - code: "TNT"
        name: "TNT\u5FEB\u9012"
      - code: "UPS"
        name: "UPS"
      - code: "DHL"
        name: "DHL"
      - code: "FEDEX"
        name: "FEDEX\u8054\u90A6(\u56FD\u5185\u4EF6)"
      - code: "FEDEX_GJ"
        name: "FEDEX\u8054\u90A6(\u56FD\u9645\u4EF6)"

